# Default ignored files
/shelf/
/.idea/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
# Editor-based HTTP Client requests
/httpRequests/
# Inspection Profiles
/inspectionProfiles/
# App tests (personal use)
/test_app.py
# Decryption for Json index (personal use)
/decode_index.py
# Templates for OCR testing (personal use)
/templates/
# Template generator (personal use)
/generate_templates.py
# Change log
/ChangeLog.md