# Default ignored files
/shelf/
/.idea/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
# Editor-based HTTP Client requests
/httpRequests/
# Inspection Profiles
/inspectionProfiles/
# App tests
/test_app.py
# Change log
/CHANGELOG.md
# Decryption for Json index
/decode_index.py
# Templates for OCR testing
/templates/