# Default ignored files
/shelf/
/.idea/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Personal Dictionary for project
/dictionaries/
# Inspection Profiles
/inspectionProfiles/
# App tests
/test_app.py
